!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Web Seo"
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          %a.navbar-brand{:href => "/"} WEB SEO
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              %li=link_to "Welcome #{current_user.username}"
              %li=link_to 'Logout', destroy_user_session_path, method: :delete
            -else
              %li=link_to 'Sign in', new_user_session_path
              %li=link_to 'Sign up', new_user_registration_path
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = flash[:notice]
              = flash[:error]
              = yield