!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Web Seo"
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          %a.navbar-brand{:href => "/"} WEB SEO
          %ul.nav.navbar-nav.navbar-right
            -if false
              %li=link_to 'Logout'
            -else
              %li=link_to 'Sign in', root_path
              %li=link_to 'Sign up', root_path
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield